body{
    background-color: darkslategray;
    box-sizing: border-box;
    font-family: "lato", sans-serif ;
}
 #clock{
    background-color: salmon;
    color:  darkslategray;
    height: 800px;
    width: 800px;
    display: grid;
    align-content: center;
    place-items: center;
    font-size: 50px;
}
div{  
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid;
    padding: 10px;
}
